cadquery/
VTK/build
VTK/cadquery_vtk.egg-info
VTK/dist
VTK/libs
VTK/vtk.py
VTK/vtk.pybak
VTK/vtkmodules
VTK/wheel

OCP/OCP.*.so
OCP/build
OCP/cadquery_ocp
OCP/cadquery_ocp.egg-info
OCP/dist
OCP/wheel
OCP
OCCT
pypi/OCP.cpython-311-darwin.so
pypi/build/
pypi/cadquery_ocp.egg-info/
pypi/cadquery_ocp/
pypi/dist/
pypi/wheel/
pypi/wheelhouse/

build
Build.sh
